<section class="section-about" id="about" #about>

    <div class="container" #containerAbout>
        <h5>Acerca De</h5>
        <img loading="lazy" src="../../../../assets/foto-perfil.jpeg" alt="" srcset="">
        <div class="about-descripcion">
            <h5>Acerca De</h5>
            <span>Sebastian Carmona Puello</span> Actualmente me encuentro cursando V semestre de ingeniería de sistema en ciclo "Tecnologo en gestion de sistemas de información y redes de cómputo", aprendí a programar a mis 17 años teniendo así una amplia
            gama de habilidades de las cuales puedo recalcar (HTML+ CSS + JS) reforzando mis conocimientos en angularJS y aprendiendo del lado del servidor con (NodeJS + MongoDB). 
            <a href="../../../../assets/hojaDeVida-sebastiancarmona.pdf" download="cv-sebastiancarmonapuello"
                class="download-cv"><button>Descargar CV</button></a>
        </div>
    </div>

</section>