<section class="contacto" id="contact" #contact>
    <div class="fondo-contacto" #contactoContainer>
        <div class="contacto-descripcion">
            <!-- <h3>Contacto</h3> -->
            <p>
                <span> Si deseas darle presencia a tu negocio u empresa en internet, puedes ponerte en contacto conmigo por medio de mi linkedin.</span> Estoy en la disponibilidad para proyectos independientes o empleo a tiempo completo.
            </p>
        </div>
        <article class="contacto__redes-autor">

            <div class="contacto-autor">
                Sebastian Carmona Puello <span>sebastiancarmonapuello@gmail.com</span>
            </div>


            <div class="contacto-redes">
                <img src="../../../../assets/contacto.png" (click)="goLinkedin()" loading="lazy">
                <i class="fab fa-github" (click)="goGithub()"></i>
            </div>

        </article>
    </div>

    <!-- <img src="../../../../assets/goku-pequenio.gif" alt="" srcset="" class="little-goku_gif"> -->

</section>